h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  display: block;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: 1px solid var(--accent-color);
}

:root {
  --text-color-theme-dark: #ffffff;
  --text-color-theme-light: #757575;
  --title-text-color: #212121;
  --contacts-color: rgba(255, 255, 255, 0.6);
  --logo-color: #000000;
  --accent-color: #2196f3;
  --btn-active-color: #188ce8;
  --background-dark: #2f303a;
  --background-light: #f5f4fa;
  --gap: 30px;
  --fill-color: #afb1b8;
  --footer-soc-background-color: rgba(255, 255, 255, 0.1);
  --bg-gradient: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
}

.portfolio .title-hidden, .feature-title {
  position: absolute;
  width: 1px;
  margin: -1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--text-color-theme-light);
  font-size: 14px;
  letter-spacing: 0.03em;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding: 60px 0;
}
@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0;
  }
}
.section__title {
  font-size: 28px;
  line-height: 1.179;
  margin-bottom: 30px;
  color: var(--title-text-color);
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .section__title {
    font-size: 36px;
    line-height: 1.167;
    margin-bottom: 50px;
  }
}

.logo, .footer__logo, .mobile__logo, .nav__logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
}

.logo-accent {
  color: var(--accent-color);
}

.header {
  background: var(--text-color-theme-dark);
  border-bottom: 1px solid #ececec;
}
@media screen and (min-width: 768px) {
  .header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .header__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-left: auto;
    gap: 30px;
    width: 352px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.header__link--top {
  padding-top: 18px;
}
.header__link--bottom {
  padding-bottom: 18px;
}
.header__link {
  font-weight: 500;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--text-color-theme-light);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__link:focus, .header__link:hover {
  color: var(--accent-color);
}
@media screen and (min-width: 1200px) {
  .header__link {
    padding: 32px 0;
  }
}
.header__icon {
  fill: currentColor;
  margin-right: 10px;
}

.nav__logo {
  color: var(--logo-color);
  padding: 24px 0;
}
@media screen and (min-width: 768px) {
  .nav__logo {
    font-size: 24px;
    line-height: 1.167;
  }
}
@media screen and (min-width: 1200px) {
  .nav__logo {
    font-size: 26px;
  }
}
.nav__list {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
}
.nav__link {
  font-weight: 500;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  padding: 32px 0;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}
.nav__link:focus, .nav__link:hover {
  color: var(--accent-color);
}

.header__wraper {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__wraper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__wraper .nav, .header__wraper .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__wraper .nav__list {
    margin-left: 87px;
  }
}
@media screen and (min-width: 1200px) {
  .header__wraper .nav__list {
    margin-left: 92px;
  }
}

.mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 768px) {
  .mobile {
    display: none;
  }
}

.mobile__logo {
  color: var(--logo-color);
  margin: 16px 0;
  font-size: 24px;
  line-height: 1.167;
}

.mobile__menu-open {
  padding: 0;
  border: none;
  background-color: var(--text-color-theme-dark);
  cursor: pointer;
  -webkit-transition: fill 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile__menu-open:hover, .mobile__menu-open:focus {
  fill: var(--accent-color);
}

.mobile__menu {
  position: fixed;
  background-color: var(--text-color-theme-dark);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
  opacity: 1;
  padding: 48px 40px;
  -webkit-transition: opacity 500ms;
  transition: opacity 500ms;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.mobile__menu.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity 500ms, visibility 500ms;
  transition: opacity 500ms, visibility 500ms;
}

.mobile__top {
  position: relative;
}

.mobile__close {
  position: absolute;
  top: 10px;
  right: 15px;
  background-color: var(--text-color-theme-dark);
  padding: 0;
  border: none;
  cursor: pointer;
  -webkit-transition: fill 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile__close:hover, .mobile__close:focus {
  fill: var(--accent-color);
}

.mobile__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
}

.mobile__list > li {
  position: relative;
}

.mobile__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  -webkit-transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile__link:hover, .mobile__link:focus {
  color: var(--accent-color);
}

.current-mobile {
  color: var(--accent-color);
}

.mobile__tell-link {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.176;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  margin-bottom: 32px;
  -webkit-transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile__tell-link:focus, .mobile__tell-link:hover {
  color: var(--text-color-theme-lightk);
}

.mobile__email-link {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.167;
  letter-spacing: 0.02em;
  color: var(--text-color-theme-light);
  margin-bottom: 64px;
  -webkit-transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile__email-link:focus, .mobile__email-link:hover {
  color: var(--accent-color);
}

.menu-soc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu-soc__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.222;
  letter-spacing: 0.02em;
  padding-right: 10px;
}
.menu-soc__link > a {
  color: var(--accent-color);
  -webkit-transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-soc__link > a:focus, .menu-soc__link > a:hover {
  color: var(--text-color-theme-light);
}

.menu-soc__link:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.current {
  color: var(--accent-color);
}
.current::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background: var(--accent-color);
  border-radius: 2px;
  bottom: -1.5px;
  left: 0;
}

.hero {
  background: var(--background-dark);
  padding: 100px 0;
  text-align: center;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: var(--bg-gradient), url(../images/studio/mobile/hero-mob.jpg);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: var(--bg-gradient), url(../images/studio/mobile/hero-mob-2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    padding: 118px 0;
    background-image: var(--bg-gradient), url(../images/studio/tablet/hero-tab.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: var(--bg-gradient), url(../images/studio/tablet/hero-tab-2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding: 200px 0;
    background-image: var(--bg-gradient), url(../images/studio/desktop/hero.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: var(--bg-gradient), url(../images/studio/desktop/hero-2x.jpg);
  }
}
.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.364;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--text-color-theme-dark);
  text-align: center;
  max-width: 360px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    max-width: 696px;
  }
}
.hero__btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--text-color-theme-dark);
  background: var(--accent-color);
  border: none;
  cursor: pointer;
  border-radius: 4px;
  border-color: var(--accent-color);
  padding: 10px 32px;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__btn:hover, .hero__btn:focus {
  background-color: var(--btn-active-color);
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  left: 0;
  top: 0;
  z-index: 1;
  opacity: 1;
  -webkit-transition: opacity 250ms;
  transition: opacity 250ms;
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity 250ms, visibility 250ms;
  transition: opacity 250ms, visibility 250ms;
}
.backdrop.is-hidden.is-hidden .modal {
  -webkit-transform: scale(4);
          transform: scale(4);
  -webkit-transition: visibility 250ms, -webkit-transform 250ms;
  transition: visibility 250ms, -webkit-transform 250ms;
  transition: transform 250ms, visibility 250ms;
  transition: transform 250ms, visibility 250ms, -webkit-transform 250ms;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-width: 96%;
  width: 450px;
  background-color: var(--text-color-theme-dark);
  border-radius: 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  -webkit-transition: -webkit-transform 250ms;
  transition: -webkit-transform 250ms;
  transition: transform 250ms;
  transition: transform 250ms, -webkit-transform 250ms;
  padding: 40px;
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}
.modal__btn {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--text-color-theme-dark);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.modal__icon {
  fill: currentColor;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__icon:hover, .modal__icon:focus {
  fill: var(--accent-color);
}
.modal__btn:hover .modal__icon, .modal__btn:focus .modal__icon {
  fill: var(--accent-color);
}
.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--title-text-color);
  margin-bottom: 12px;
  padding: 0 19px;
}
.modal__label {
  font-size: 12px;
  line-height: 1.667;
  letter-spacing: 0.01em;
  color: var(--text-color-theme-light);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
  text-align: left;
  position: relative;
}
.modal__label--bottom {
  margin-bottom: 20px;
}
.modal__input-icon {
  position: absolute;
  left: 12px;
  bottom: 11px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input:focus + .modal__input-icon {
  fill: var(--accent-color);
}
.modal__input, .modal__comment {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
.modal__input {
  width: 100%;
  padding: 12px 42px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input:focus {
  border-color: var(--accent-color);
}
.modal__comment {
  resize: none;
  padding: 12px 16px;
  height: 120px;
}
.modal__comment:focus {
  border-color: var(--accent-color);
}
.modal__comment::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal__comment::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal__comment:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal__comment::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal__comment::placeholder, .modal__comment, .modal__input {
  color: rgba(117, 117, 117, 0.5);
}
.modal__policy {
  display: inline-block;
  font-size: 12px;
  line-height: 1.167;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .modal__policy {
    font-size: 14px;
    line-height: 1.7;
  }
}
.modal__policy span {
  margin-left: 8px;
}
.modal__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.modal__checbox-icon {
  vertical-align: text-bottom;
  cursor: pointer;
  border: 2px solid var(--title-text-color);
  fill: var(--text-color-theme-dark);
  border-radius: 2px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .modal__checbox-icon {
    vertical-align: text-top;
  }
}
.modal__checbox-link {
  display: inline;
  vertical-align: middle;
  text-decoration: underline;
  margin-left: 8px;
  color: var(--accent-color);
  -webkit-transition: outline 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: outline 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__checbox-link:focus, .modal__checbox-link:hover {
  outline: 1px solid var(--accent-color);
}
.modal__checkbox:checked + .modal__checbox-icon {
  background-color: var(--accent-color);
  border-color: transparent;
}
.modal__checkbox:focus + .modal__checbox-icon {
  border: 1px solid var(--accent-color);
}
.modal__form-btn {
  padding: 10px 52px;
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--text-color-theme-dark);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 500ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__form-btn:hover, .modal__form-btn:focus {
  background-color: var(--btn-active-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.features {
  background-color: var(--text-color-theme-dark);
}
@media screen and (min-width: 768px) {
  .features__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}
.features__item {
  margin-bottom: 30px;
}
.features__item:last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .features__item {
    width: calc((100% - var(--gap) * 1) / 2);
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .features__item {
    width: calc((100% - var(--gap) * 3) / 4);
    margin-bottom: 0;
  }
}
.features__icon-wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: #f5f4fa;
  -webkit-transition-property: -webkit-filter;
  transition-property: -webkit-filter;
  transition-property: filter;
  transition-property: filter, -webkit-filter;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.features__icon-wraper:hover {
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.features__title {
  font-size: 14px;
  line-height: 1.143;
  text-transform: uppercase;
  color: var(--title-text-color);
  margin-bottom: 10px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .features__title {
    text-align: left;
  }
}
.features__descr {
  line-height: 1.714;
  color: var(--text-color-theme-light);
}

.services {
  padding-top: 0;
  display: none;
}
.services__item {
  position: relative;
}
.services__description {
  position: absolute;
  width: 100%;
  height: 70px;
  font-weight: 700;
  line-height: 1.143;
  text-transform: uppercase;
  color: var(--text-color-theme-dark);
  background-color: #2f303a;
  opacity: 80%;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .services {
    display: block;
  }
  .services__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
  }
}

.our-team {
  background: var(--background-light);
  width: 100%;
}
@media screen and (min-width: 768px) {
  .our-team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}
.our-team__item {
  margin-bottom: 30px;
  background: var(--text-color-theme-dark);
  border-radius: 0px 0px 4px 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.our-team__item:last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .our-team__item {
    width: calc((100% - var(--gap) * 1) / 2);
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .our-team__item {
    width: calc((100% - var(--gap) * 3) / 4);
    margin-bottom: 0;
  }
}
.our-team__content {
  padding: 30px 32px;
}
.our-team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  color: var(--title-text-color);
  text-align: center;
}
.our-team__descr {
  font-size: 16px;
  line-height: 1.188;
  color: var(--text-color-theme-light);
  text-align: center;
  margin-top: 10px;
}

.our-soc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  margin-top: 16px;
}
.our-soc__item {
  width: 44px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
.our-soc__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--text-color-theme-dark);
  fill: var(--fill-color);
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.our-soc__link:hover, .our-soc__link:focus {
  background-color: var(--accent-color);
}
.our-soc__icon {
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.our-soc__icon:hover, .our-soc__icon:focus {
  fill: var(--text-color-theme-dark);
}
.our-soc__link:hover .our-soc__icon, .our-soc__link:focus .our-soc__icon {
  fill: var(--text-color-theme-dark);
}

.clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
.clients li {
  width: calc((100% - var(--gap) * 1) / 2);
}
@media screen and (min-width: 768px) {
  .clients li {
    width: calc((100% - var(--gap) * 2) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients li {
    width: calc((100% - var(--gap) * 5) / 6);
  }
}
.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  -webkit-transition-property: border-color;
  transition-property: border-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:focus {
  border-color: var(--accent-color);
}
.clients__logo {
  fill: var(--fill-color);
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__logo:hover, .clients__logo:focus {
  fill: var(--accent-color);
}
.clients__link:hover .clients__logo, .clients__link:focus .clients__logo {
  fill: var(--accent-color);
}

.footer {
  background: var(--background-dark);
  padding: 60px 0;
}
.footer__logo {
  color: var(--text-color-theme-dark);
}
.footer__wraper {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer__wraper .footer__link-wraper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}
@media screen and (min-width: 1200px) {
  .footer__wraper {
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}
.footer__soc-link {
  margin-top: 60px;
}
@media screen and (min-width: 768px) {
  .footer__soc-link {
    margin-top: 0;
  }
}
@media screen and (min-width: 1200px) {
  .footer__soc-link {
    margin-left: 70px;
  }
}
.footer__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  color: var(--text-color-theme-dark);
  margin-bottom: 20px;
  text-transform: uppercase;
}
.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}
.footer__item {
  width: 44px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__link {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  background-color: var(--footer-soc-background-color);
  fill: var(--text-color-theme-dark);
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__link:hover, .footer__link:focus {
  background-color: var(--accent-color);
}
.footer__form-wraper {
  width: 100%;
  margin-top: 60px;
}
@media screen and (min-width: 768px) {
  .footer__form-wraper {
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1200px) {
  .footer__form-wraper {
    width: 570px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: auto;
    margin-top: 0;
    margin-right: 0;
    margin-left: auto;
  }
}
.footer__form {
  width: 100%;
}
@media screen and (min-width: 1200px) {
  .footer__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 12px;
  }
}
.footer__form-label > input {
  width: 100%;
  padding: 15px 16px;
  font-size: 16px;
  line-height: 1.25px;
  color: rgba(255, 255, 255, 0.6);
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
.footer__form-label > input:focus {
  border-color: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .footer__form-label > input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__form-label > input {
    width: 358px;
  }
}
.footer__btn {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: 10px 28px;
  margin: 0 auto;
  border: 1px solid var(--accent-color);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--text-color-theme-dark);
  margin-top: 20px;
}
.footer__btn:hover, .footer__btn:focus {
  background-color: var(--btn-active-color);
}
@media screen and (min-width: 1200px) {
  .footer__btn {
    margin: 0;
  }
}
.footer__btn-icon {
  margin-left: 10px;
}

.address {
  margin-top: 20px;
}
.address__map {
  line-height: 1.71;
  color: var(--text-color-theme-dark);
  font-style: normal;
  margin-bottom: 9px;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.address__map:hover, .address__map:focus {
  color: var(--accent-color);
}
.address__contacts {
  font-style: normal;
  line-height: 1.71;
  color: var(--contacts-color);
  margin-bottom: 9px;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.address__contacts:hover, .address__contacts:focus {
  color: var(--accent-color);
}

.portfolio__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 8px;
  width: 326px;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .portfolio__nav {
    width: 575px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__nav {
    margin-bottom: 50px;
  }
}
.portfolio__nav-list {
  margin-bottom: 6px;
}
@media screen and (min-width: 768px) {
  .portfolio__nav-list {
    margin-bottom: 0;
  }
}
.portfolio__nav-btn {
  font-family: inherit;
  letter-spacing: inherit;
  background: var(--background-light);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  color: var(--title-text-color);
  border: none;
  cursor: pointer;
  text-align: center;
  border-radius: 4px;
  padding: 6px 22px;
  -webkit-transition-property: color, background-color, -webkit-box-shadow;
  transition-property: color, background-color, -webkit-box-shadow;
  transition-property: color, background-color, box-shadow;
  transition-property: color, background-color, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__nav-btn:hover, .portfolio__nav-btn:focus {
  color: var(--text-color-theme-dark);
  background-color: var(--accent-color);
  outline: none;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio__set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .portfolio__set {
    gap: 30px;
  }
}
.portfolio__item:not(:last-child) {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .portfolio__item:not(:last-child) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) {
  .portfolio__item {
    width: calc((100% - var(--gap) * 1) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__item {
    width: calc((100% - var(--gap) * 2) / 3);
  }
}
.portfolio__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__link:hover, .portfolio__link:focus {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.portfolio__wraper {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.portfolio__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
  margin-bottom: 4px;
}
.portfolio__descr {
  font-size: 16px;
  line-height: 1.875;
  color: var(--text-color-theme-light);
}
.overlay {
  position: relative;
  overflow: hidden;
}
.overlay__text {
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(33, 150, 243, 0.9);
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.556;
  color: var(--text-color-theme-dark);
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__link:hover .overlay__text {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}/*# sourceMappingURL=main.css.map */