:root {
  --text-color-theme-dark: #ffffff;
  --text-color-theme-light: #757575;
  --title-text-color: #212121;
  --contacts-color: rgba(255, 255, 255, 0.6);
  --logo-color: #000000;
  --accent-color: #2196f3;
  --btn-active-color: #188ce8;
  --background-dark: #2f303a;
  --background-light: #f5f4fa;
  --gap: 30px;
  --fill-color: #afb1b8;
  --footer-soc-background-color: rgba(255, 255, 255, 0.1);
  --bg-gradient: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
}
