.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;

  @include mobile {
    width: 480px;
  }

  @include tablet {
    width: 768px;
  }

  @include desktop {
    width: 1200px;
  }
}

.section {
  padding: 60px 0;

  @include desktop {
    padding: 94px 0;
  }

  &__title {
    font-size: 28px;
    line-height: 1.179;
    margin-bottom: 30px;
    color: var(--title-text-color);
    text-align: center;

    @include desktop {
      font-size: 36px;
      line-height: 1.167;
      margin-bottom: 50px;
    }
  }
}
